@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
  --Black: #000;
  --White: #fff;
  --LightGray:#f6f0f0;
  --Transparent: #8e8686b5;
  --Red:#ff0000;
  --RedError: #f66868cb;
  --GreenSuccess: #147f14ae;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  height:100vh;
  display:grid;
  place-items:center;
  background-color:var(--LightGray);
}